body{
	position: relative;
}

.logo{
	height: 175px;
	position: absolute;
	top: 0;
	z-index: 999;
	max-width: 320px;
	display: block;
	/*background-color: #336699;*/
	color: #D9D8D8;
	left: 43%;
	background-image: url('../img/logo.png');
	background-position: 15px 30px; 
	background-repeat: no-repeat;
}

.navbar .container{
	width: 900px;
}

	@media (max-width: 768px){
		.navbar .container{
			width: inherit;
		}

		.logo{
			left: 2%;
			background-image: none;
		}

		.logo h5{
			font-size: 1.2em;
			padding-top: 5px;
		}
	}

ul.nav li a{
	font-size: 1.3em;
}

.navbar-default .navbar-nav > li > a{
	color: #AAA8A8;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #FFF;
}


ul.nav li:nth-child(1){
	padding-left: 0;
}

@media (max-width: 768px){
	ul.nav li:nth-child(1){
		padding-left: 5px;
	}	
}

ul.nav li{
	padding: 19px 5px 19px 5px;
}

.navbar{
	margin-bottom: 0;
}

.navbar .container{
	max-width: 900px;
}

.sub-titulo .container{
	max-width: 850px;
	padding-top: 13px;
	padding-bottom: 13px;
}

.sub-titulo .container h2{
	color: #FFF;
	font-weight: 300;
}

.principal{
	max-width: 900px;
}

@media (max-width: 480px){
	ul.navbar-nav li{
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media (max-width: 768px){
	ul.navbar-nav li{
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.navbar-default{
	background-color: #2F2B2C;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border:0;
}

.sub-titulo{
	background-color: #3389D7;	
}

.part-1{
	min-height: 280px;
	padding-top: 90px;
}

.part-1 p:nth-child(1){
	font-size: 1.5em;
}

.part-1 p:nth-child(2){
	font-size: 1.3em;
}

.part-1 input{
	margin-top: 40px;
}

footer{
	background-color: #3876ae;
	padding-top: 40px;
}

footer .container{
	max-width: 900px;
	padding:0; 
}

footer .container *{
	padding:0; 
}

footer .texto p{
	color: #FFF;
	line-height: .8em;
}

footer .footer-logo{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image: url('../img/footer-logo.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}

.inner-carrusel{
	width: 100%;
	background-color: #3c3e3d;
	text-align: center;
	overflow: hidden;
}

.carrusel{
	height: 569px;
	overflow: hidden;
	width: 1200px;
	background-color: #3c3e3d;
	text-align: center;
	margin: 0 auto;
}

	.carrusel .item{
		height: 569px;
		min-width: 1200px;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}

	.carrusel .slider01{
		background-image: url('../img/slider01.jpg');
		background-position: top center;
	}

@media (max-width: 768px){
	.carrusel{
		height: 170px;
		width: 0;
		min-width: 100%;
	}	

	.carrusel .item{
		min-width: 100%;	
		background-size: 100%;
	}
}


/***********************************************/

/*.carrusel{
	height: 569px;
	overflow: hidden;
	width: 100%;
	background-color: #3c3e3d;
	text-align: center;
}

	.carrusel .item{
		height: 569px;
		min-width: 1200px;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}

	.carrusel .slider01{
		background-image: url('../img/slider01.jpg');
		background-position: top center;
	}

@media (max-width: 768px){
	.carrusel{
		height: 170px;
	}	

	.carrusel .item{
		min-width: 100%;	
		background-size: 100%;
	}
}*/

/***************************************************/


/*.inner-carrusel{
	width: 100%;
	background-color: #3c3e3d;
	text-align: center;
}

.carrusel{
	height: 569px;
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

	.carrusel .item{
		height: 569px;
		min-width: 1200px;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}

	.carrusel .slider01{
		background-image: url('../img/slider01.jpg');
		background-position: top center;
	}

@media (max-width: 768px){
	.inner-carrusel{
		max-width: 100%;
	}

	.carrusel{
		height: 170px;
		max-width: 100%;
	}	

	.carrusel .item{
		width: 0;
		max-width: 100%;	
		background-size: 100%;
	}
}*/
